<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appUUID</key>
	<string></string>
	<key>categories</key>
	<array>
		<dict>
			<key>name</key>
			<string>News</string>
			<key>resourceLinks</key>
			<array>
				<dict>
					<key>thumbnail</key>
					<string>http://hk.st.f1.vnecdn.net/responsive/i/v5/graphics/img_logo_vne_web.gif</string>
					<key>link</key>
					<string>http://vnexpress.net/</string>
					<key>title</key>
					<string>VNExpress</string>
					<key>rating</key>
					<integer>0</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Movies</string>
			<key>resourceLinks</key>
			<array>
				<dict>
					<key>rating</key>
					<integer>0</integer>
					<key>thumbnail</key>
					<string>http://hk.st.f1.vnecdn.net/responsive/i/v5/graphics/img_logo_vne_web.gif</string>
					<key>link</key>
					<string>http://vnexpress.net/</string>
					<key>title</key>
					<string>VNExpress</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Youtube</string>
			<key>resourceLinks</key>
			<array>
				<dict>
					<key>rating</key>
					<integer>0</integer>
					<key>thumbnail</key>
					<string>http://hk.st.f1.vnecdn.net/responsive/i/v5/graphics/img_logo_vne_web.gif</string>
					<key>link</key>
					<string>http://youtube.com/</string>
					<key>title</key>
					<string>Youtube</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Facebook</string>
			<key>resourceLinks</key>
			<array>
				<dict>
					<key>rating</key>
					<integer>0</integer>
					<key>thumbnail</key>
					<string>http://hk.st.f1.vnecdn.net/responsive/i/v5/graphics/img_logo_vne_web.gif</string>
					<key>link</key>
					<string>http://facebook.com/</string>
					<key>title</key>
					<string>Facebook</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
